/* .app-btn-dark{background: #353535; padding: 5px 10px; border-radius: 6px; border: none; outline: none; color: #fafafa;}
.app-btn-blue{background: #3330E4; padding: 5px 10px; border-radius: 6px; border: none; outline: none; color: #fafafa;}
.app-btn-red{background: #F32424; padding: 5px 10px; border-radius: 6px; border: none; outline: none; color: #fafafa;}
.app-btn-gray{background: #909090; padding:50px 10px; border-radius: 6px; border: none; outline: none;}
.app-btn-yellow{background: #F9D923; padding: 5px 10px; border-radius: 6px; border: none; outline: none;}
.app-btn-orange{background: orange; padding: 5px 10px; border-radius: 6px; border: none; outline: none;}
.app-btn-light-dark{background: #243A73; padding: 5px 10px; border-radius: 6px; border: none; outline: none; color: #fafafa;}
.app-btn-light-blue{background: #A5BECC; padding: 5px 10px; border-radius: 6px; border: none; outline: none;}
.app-btn-light{background: #fafafa; padding: 5px 10px; border-radius: 6px; border: none; outline: none;} */