.app-text-size-a{font-size: 30px; font-weight: 500;}
.app-text-size-b{font-size: 27px; font-weight: 400;}
.app-text-size-c{font-size: 22px; font-weight: 300;}
.app-text-size-x{font-size: 18px; font-weight: 200;}
.app-text-size-y{font-size: 16px; font-weight: 200;}
.app-text-size-z{font-size: 14px; font-weight: 100;}